<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Charlies Website!</title>
        <link rel="stylesheet" href="assets/stylesheets/main.css">
    </head>
    <body>
        <div class="container">
            <div class="nav-wrapper">
                <div class="left-side">
                    <div class="nav-link-wrapper active-nav-link">
                        <a href="index.html"> ABOUT </a>
                    </div>
                    <div class="nav-link-wrapper">
                        <a href="Portfolio.html"> ART PORTFOLIO </a>
                    </div>
                </div>
                <div class="right-side">
                    <div class="name">
                        <div class="header"> CHARLIE BAKER </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="two-column-wrapper">
                <div class="profile-image-wrapper">
                    <img src="assets/bake023.JPG">
                </div>
                <div class="profile-content-wrapper">
                    <h1>ABOUT ME</h1>
                    <p>Hello My Name is Charlie! I am a 24 at Dartmouth College. I was introduced to computer 
                        science in the winter of 2021 and have loved it. I have learned python, java, and have 
                        had a brief introduction to html. This is my first website, however, I am a creator at 
                        heart so I've been designing projects all my life. The second page contains just a few 
                        of my favorite art projects I have completed over the years. I love 3D art because your 
                        audience gets to engage with the final product. The same is true for web design. Everyone 
                        interacts with art and websites differently, but there are patterned responses that you 
                        can pick up and use to your advantage. Through understanding how someone will interact 
                        with your final product you can take it to the next level. I am excited 
                        to work with DALI to stretch myself as a coder, but also to be part of a great community 
                        of fellow coders. The community/team aspect of DALI really speaks to me and the way I 
                        like to live my life. I rely on others for so much, just as they rely on me.</p> 
                    <img src="assets/philly.png" width="800" height="177">
                    <h2>RESIDENCE</h2>
                    <p2> I live in a suburb just outside of Philadelphia. I took this sunset photo of the 
                        Philadelphia skyline from the highway on my way back to my house.</p2>
                </div>
            </div>
        </div>
    </body>
</html>
